
.content{
  background-color: #121212;
  text-align: center;
  float: right;
  width: 73%;
  height: 100vh;
}

.login_signup{
  cursor: pointer;
  position: fixed;
  top: 8px;
  right: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* float: right; */
  width: 111px;
  height: 34px;
}

.login_signup>p{
  color: white;
  padding-top: -9px;
  margin-top: 8px;
}
.logout{
  cursor: pointer;
  position: fixed;
  top: 8px;
  right: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 111px;
  height: 34px;
}

.logout>p{
  color: white;
  padding-top: -9px;
  margin-top: 8px;
}
