

<configuration>
  <system.web>
    <SessionState mode="SQLServer" sqlConnectionString="Server=tcp:moviedbserved.database.windows.net,1433;Initial Catalog=db;Persist Security Info=False;User ID=admin123;Password=Password123456789;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;">
    </SessionState>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
