.side_bar{
  background-color:#222222;
  position: fixed;
  top:0px;
  width:27%;
  height:100%;
}

.head{

  background-color:#E2E2E2;
  position: fixed;
  width:27%;
  height:50px;
}

.head > p{
  user-select: none;
  display: inline-block;
}

.collection{
  color: #222222;
  float: left;
  font-size: 28px;
  margin-top: 9px;
  margin-left: 10px;
}

.collections{
  width:100%;
  margin-top: 83px;
}

.collections_cell{
  cursor: pointer;
    user-select: none;
  border-radius: 0px 32px 32px 0px;
  margin-top: -16px;
  width: 97%;
  height: 35px;
  background-color: white;
}

.collections_cell > input{
  float: left;
  height: 33px;
  width: 285px;
  border: none;
}

.collections_cell > p{
  padding-top: 7px;
  padding-left: 8px;
  text-align: left;
  font-size: 18px;
}
.add_collections{
  float: right;
  margin-right: 12px;
  font-size: 40px;
  margin-top: 0px;
  cursor:pointer;
}
