<input
(keyup)='PerformSearch($event)'
type="text"
placeholder="Search..."
ng-model="search"
id="search"/>

<form *ngIf="SelectedMovie" (ngSubmit)="SaveCollection($event)" class="collection_selection">
  <p>Collections</p>
  <div class="back" (click)="CloseCollections()">Return</div>
  <hr/>

  <div *ngFor="let key of keys()" class="collection_cells">
    <input type="checkbox" name="collection" value={{key}}><label>{{key}}</label>
  </div>
  <button type="submit" class="save_collection">
    <p>Save</p>
  </button>
</form>

<div *ngIf="SearchResults" class="search_results">

  <div class="search_results">
      <div *ngFor="let element of SearchResults" class="search_cell" (click)="MovieClicked(element.imdbID)">
        <img src={{element.Poster}}>
        <p>{{element.Title}}</p>
      </div>
  </div>
</div>
