#search{
  cursor: pointer;
  width: 450px;
  height: 25px;
}

.search_results{
  background-color:white;
  margin: 0 auto;
  margin-top: -16px;
  width: 456px;
}

.search_cell{
  background-color:white;
  cursor: pointer;
  margin-top: -15px;
  width:100%;
  height:50px;
}

.search_cell>img{
  height:100%;
  float: left;
}

.search_cell > p{
  padding-top: 15px;
}

.collection_selection{
  background-color: white;
  position: fixed;
  float: left;
  margin-top: 80px;
  margin-left: 36px;
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 250px;
}

.collection_cells > input{
  float: left;
}
.collection_cells > input:nth-child(1){
  float: left;
  margin-left: 14px;
}

.back{
  cursor:point;
  user-select: none;
  float: right;
  margin-top: -33px;
  margin-right: 8px;
}

.save_collection{
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: green;
  border-color: green;
  color: white;
  position: relative;
  padding-top: 9px;
  margin-top: 134px;
  width: 100%;
  height: 38px;
  border-radius: 0px 0px 9px 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.save_collection > p{
  margin-top: 0px;
  font-size: 16px;
}
